<!doctype html>
<html class="bg-neutral">
  <head>
  	<title>Camera</title>    
   {% include "links.html" %}
<style>
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
    body {
        font-family: 'Urbanist', sans-serif;;
      }
</style>
  </head>
  <body data-theme="lemonade" class="static flex flex-col h-screen overflow-hidden">
    <div class="mb-10 heleroheline rounded-b-lg flex grow bg-lime-50 justify-center items-center" style="background-color:#CCE4CD; border-radius: 0px 0px 50px 50px">
    <img src="/static/Logos 3.svg">
    </div>
    <div class="flex-1 flex flex-col items-center space-y-5">

       <p class="mb-4 text-2xl font-bold ...">Sign In</p>

<input type="text" placeholder="email" class="rounded-full input w-full max-w-xs" style="border-color: #8DCF90" />
<input type="text" placeholder="password" class="rounded-full input w-full max-w-xs" style="border-color: #8DCF90" />

    
       
      <button class="btn rounded-full text-white border-0  btn-wide" style="background-color:#8DCF90;">Sign In</button>
       
    </div>
     <footer class="flex grow footer footer-center p-4 bg-white text-base-content items-center justify-center">
 
</footer>
     
    
  </body>
  <script type="text/javascript" src="/static/script.js"></script>
</html>